@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.code_area__wrap {
  height: 100%;
}

body {
  color: #fff;
  font-family: "JetBrains Mono", monospace;
  background-color: #000;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.8rem;
  line-height: 1;
  & .title__link {
    color: #fff;
    text-decoration: none;
    position: relative;
    &::after {
      content: "";
      width: 0;
      height: 1px;
      background-color: #fff;
      display: block;
      position: absolute;
      left: 0;
      bottom: -2px;
      transition: .3s ease-in-out;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.nav {
  & .nav__list {
    line-height: 1;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
  }
  & .nav__link {
    color: #333;
    font-size: 1.25rem;
    text-decoration: none;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 0 #999;
    padding: 8px 16px;
    transition: .3s ease-in-out;
    display: grid;
    place-items: center;
    &:hover {
      box-shadow: 0 0 0 #bbb;
      translate: 2px 2px;
    }
  }
}

.copyright {
  & .copyright__bin {
    font-size: 0.75rem;
    line-height: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 32px 16px 0;
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-inline: auto;
    display: block;
  }
}

.main {
  padding: 32px 16px;;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 0 16px 32px;
  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-inline: auto;
    display: block;
  }
}
